<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Reddit Clone</title>
</head>
<body>
      <nav>
        <div class="logo">
          <img src="/imgs/reddit.png" class="logo" alt="logo">
        </div>
        <div class="searchbar">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" class="search-input" placeholder="search">
        </div>
        <div class="auth">
            <button class="login"><a href="/signin">Login</a></button>
            <button class="sign-up"><a href="/signup">Sign Up</a></button>
        </div>
      </nav>
      <main class="home-body">
        
      <div class="profile">
      <div class="container">
        <h2 class="section-title">Recent Activity</h2>
        <div class="activity">
          <!-- <div class="post">
            <div class="post-header">
              <div class="post-title">
                <a href="#">This is a post title</a>
              </div>
              <div class="post-author">
                <a href="#">u/username</a>
              </div>
            </div>
            <div class="post-content">
              <p>This is the post content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus lectus vel enim luctus, vel mattis leo auctor.</p>
              <img src="https://via.placeholder.com/150" alt="Post image">
            </div>
            <div class="post-footer">
              <div class="post-votes">
                <button class="upvote-btn"></button>
                <span class="vote-count">10</span>
                <button class="downvote-btn"></button>
              </div>
              <div class="post-comments">
                <a href="#">5 comments</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
      </main>
      <script src="/js/dom.js"></script>
      <script src="/js/home.js"></script>
</body>