* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

nav {
  background: #1a1a1b;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(104, 104, 104, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  position: fixed;
  width: 100%;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 100px;
}

.auth {
  display: flex;
  gap: 10px;
}

.auth button {
  border: none;
  outline: none;
  background: #FF4500;
  padding: 10px 12px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
}

.search-input {
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  outline-width: 0;
  width: 700px;
  font-size: 17px;
  color: #fff;
  background: #292929;
}

.searchbar i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

main {
  padding-top: 5rem;
  background: #1c1c1e;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  min-height:100vh ;
}

  .post {
    background-color: #1A1A1B;
    color: #FFFFFF;
    padding: 16px;
    margin-bottom: 16px;
  }

  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .post-title a {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
  }

  .post-author a {
    font-size: 16px;
    color: #B1B1B3;
    text-decoration: none;
  }

  .post-author a:hover {
    color: #FFFFFF;
  }

  .post-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .post-content p {
    flex: 1;
    margin-right: 16px;
  }

  .post-content img {
    max-width: 200px;
    max-height: 200px;
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .post-votes {
    display: flex;
    align-items: center;
  }

  .vote-count {
    font-size: 18px;
    font-weight: bold;
    margin: 0 8px;
  }

  .upvote-btn,
  .downvote-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }


  .upvote-btn::before,
  .downvote-btn::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .upvote-btn::before {
    border-bottom: 10px solid #B1B1B3;
  }

  .downvote-btn::before {
    border-top: 10px solid #B1B1B3;
  }

  .post-comments a {
    font-size: 16px;
    color: #B1B1B3;
    text-decoration: none;
  }

  .post-comments a:hover {
    color: #FFFFFF;
  }

  .section-title{
    margin-bottom: 1.5rem;
    color: rgba(255, 68, 0,1);
  }

  .auth-home{
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .auth-home .logout{
    color: #FF4500;
    font-size: 22px;
    cursor: pointer;
  }

  .add{
    color: #fff;
  }

  .user-info{
    padding-top: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;  
  }

  .user-info .user-email{
    color: rgba(255, 68, 0, 1);
    padding: 10px;
    font-size: 16px;
  }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
      .searchbar {
          display: none;
        }
    }
  
    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
      .searchbar {
          display: none;
        }
    }
  
    /* Portrait phones and smaller */
    @media (max-width: 480px) {
      .searchbar{
        display: none;
      }
    }